<!-- Heading -->
<div class="row heading">
    <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
        <div class="heading-avatar-icon">
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fm.facebook.com%2Fvectormeda%2Fphotos%2F%3Fref%3Dpage_internal&psig=AOvVaw2e7pX2U4Jsoe8aye9-dbAq&ust=1645159550126000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPitoof3hfYCFQAAAAAdAAAAABAD">
        </div>
    </div>
    <div class="col-sm-8 col-xs-7 heading-name">
        <a class="heading-name-meta">
            @User.Identity.Name
        </a>
        <span class="heading-online">Online</span>
    </div>
    <div class="col-sm-1 col-xs-1  heading-dot pull-right">
        <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
    </div>
</div>
<!-- Heading End -->