<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4 account-sign">
    <form asp-controller="Account" asp-action="Login">
        <div class="mb-1">
            <input class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="mb-1">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Login</button>
        <div class="col-12 m-2">
            <a asp-controller="Account" asp-action="Register">
             <p style="text-decoration:none">I do not have an account</p>
            </a>
        </div>
    </form>
</div>
