@model IEnumerable<Chat>
@using System.Security.Claims

<div class=" side">
    <div class="side-one">
        <!-- Heading -->
        <div class="row heading">
            <div class="col-sm-3 col-xs-3 heading-avatar">
                <div class="heading-avatar-icon">
                    <img src="">
                </div>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
                <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
            </div>
            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
                <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
            </div>
        </div>
        <!-- Heading End -->
        <!-- SearchBox -->
        <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
                <div class="form-group has-feedback">
                    <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
        </div>

        <!-- Search Box End -->
        <!-- sideBar -->
        <div class="row sideBar">
            @foreach (var chat in Model)
            {
                <div class="row sideBar-body">
                    <a asp-controller="Home" asp-action="Chat" asp-route-id="@chat.Id" style="text-decoration:none">
                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                            <div class="avatar-icon">
                                <img src="https://media.istockphoto.com/photos/cyber-security-it-engineer-working-on-protecting-network-against-picture-id1322517295?b=1&k=20&m=1322517295&s=170667a&w=0&h=x4Kmx8fQytr6VPfuKwE381xf-rfiBFctyXvpb7o5ju8=">
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-9 sideBar-main">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8 sideBar-name">
                                    <span class="name-meta">
                                        @if (chat.Type == ChatType.Private)
                                        {@chat.Users.FirstOrDefault(u => u.UserId != User.FindFirst(ClaimTypes.NameIdentifier).Value).User.UserName}
                                    else
                                    {@chat.Name}
                                    </span>
                                </div>
                                <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                    <span class="time-meta pull-right">
                                        18:18
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <!-- Sidebar End -->
    </div>
    <!-- Sidebar End -->
</div>
    @*<div class="sidebar-chats" style="height: calc(100vh - 115px); overflow-y: scroll">
            <div class="">
                <a class="" id="create-room-btn">
                    <strong>+</strong>
                </a>
            </div>
            <div class="side-one">
                <div class="row sideBar">
                    @foreach (var chat in Model)
                    {

                        <a asp-controller="Home" asp-action="Chat" asp-route-id="@chat.Id" style="text-decoration:none" class="row sideBar-body">
                            <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                <div class="avatar-icon">
                                    <img src="https://media.istockphoto.com/photos/cyber-security-it-engineer-working-on-protecting-network-against-picture-id1322517295?b=1&k=20&m=1322517295&s=170667a&w=0&h=x4Kmx8fQytr6VPfuKwE381xf-rfiBFctyXvpb7o5ju8=">
                                </div>
                            </div>
                            <div class="col-sm-9 col-xs-9 sideBar-main">
                                <div class="row">
                                    <div class="col-sm-8 col-xs-8 sideBar-name">
                                        <span class="name-meta">
                                            @if (chat.Type == ChatType.Private)
                                            {@chat.Users.FirstOrDefault(u => u.UserId != User.FindFirst(ClaimTypes.NameIdentifier).Value).User.UserName}
                                        else
                                        {@chat.Name}
                                    </span>
                                    </div>
                                    <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                        <span class="time-meta pull-right">
                                            18:18
                                        </span>
                                    </div>
                                </div>
                            </div>
                            </a>
                        }
                </div>
            </div>
        </div>*@
